* {
	box-sizing: border-box;
}

div {
	border: 1px solid #000;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px 15px 0px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin: -10px -5px;
	margin-bottom: 20px;
	padding: 5px;
}

.row:last-child {
	margin-bottom: 10px;
}

.col {
	flex: 0 1 100%;
	width: 100%;
	min-height: 200px;
	margin: 5px;
}

.col-25 {
	flex-basis: calc(25% - 10px);
	min-width: calc(25% - 10px);
	max-width: calc(25% - 10px);
}

.col-33 {
	flex-basis: calc(33.3333% - 10px);
	min-width: calc(33.3333% - 10px);
	max-width: calc(33.3333% - 10px);
}

.col-50 {
	flex-basis: calc(50% - 10px);
	min-width: calc(50% - 10px);
	max-width: calc(50% - 10px);
}

/*---Adaptive---*/
@media (max-width: 600px) {
	.col-50 {
		flex-basis: calc(100% - 10px);
		min-width: calc(100% - 10px);
		max-width: calc(100% - 10px);
		min-height: 50px;
	}
	.col-33 {
		flex-basis: calc(50% - 10px);
		min-width: calc(50% - 10px);
		max-width: calc(50% - 10px);
		min-height: 50px;
	}
	.col-25 {
		flex-basis: calc(50% - 10px);
		min-width: calc(50% - 10px);
		max-width: calc(50% - 10px);
		min-height: 100px;
	}
}

@media (max-width: 400px) {
	.col-33,
	.col-25 {
		flex-basis: calc(100% - 10px);
		min-width: calc(100% - 10px);
		max-width: calc(100% - 10px);
	}
}
/*---Adaptive---*/

/*---color---*/
.gray {
	background-color: #4e4e4d;
}
.yellow {
	background-color: #ffe100;
}
.lyme {
	background-color: #4ee408;
}
.red {
	background-color: #f00;
}
.pink {
	background-color: #e100ff;
}
/*---color---*/
